
.footerContainer{
    height: 50px;
    width: 100%;
    font-size: 25px;
    background: linear-gradient( rgb(150, 3, 255), rgba(0, 0, 0, 0.439));
    z-index: 10;
    position: fixed;
    bottom: 0px;
    
    p{
        text-align: center;
        padding-top: 15px;
        color: white;
    }
}
@media (max-width: 576px) {
    .footerContainer{
        text-align: center;
        font-size: 20px;
        position: fixed;
        bottom: 0px;
       
        
        p{
            padding-top: 5px;
            color: white;
        }
    }
}